# Ignore virtual environments
venv/
**/venv/
*/venv/

# Ignore Python cache files
__pycache__/
**/__pycache__/
*/__pycache__/

SDPipe/stable-diffusion-v1-4
PRPipe/PRNet

node_modules/
**/node_modules/
*/node_modules/

requirements.txt
server/static/imgs
server/static/3dobjs
server/static/generated
server/static/imgs/representations_vgg_face.pkl
PRPipe/__pycache__/
PRPipe/3dobjs/
PRPipe/Data/
PRPipe/Data/uv-data
PRPipe/Data/net-data
PRPipe/Docs/
PRPipe/TestImages/
PRPipe/utils/

PRPipe\Data


